extends layout

block content
  h1= title
  p Welcome to #{title}
  button(id = "subscribe") SUBSCRIBE
  #chat(style = 'display: none')
    #messages
    textarea(id = "message")
    button(id = "send") send


